{% extends "includes/../includes/base.html" %}
{% load static %}

{% block content %}
{% include 'includes/../includes/cover.html' %}

<div class='container mt-4'>
    <div class="container-fluid">
        <div class="row">
        {% include 'includes/../includes/shop_sidebar.html' %}
        <div class="col-md-9 text-center">
            <!-- Page Content -->
            <h1>Welcome to the Admin Dashboard</h1>
            <div class="container">

              <div class="col-md-12 text-center card py-2 mb-2">
                <div class="row">
                  <div class="col-6">
                    <h4 class="card-title text-center mt-4 text-decoration-underline">Your Statistic</h4>
                  </div>
                  <div class="col-6">
                    <form class="row" method="GET" action="{% url 'shop:shop_admin' %}">
                    <div class="col-6">
                        <div class="form-group">
                          <label for="month">Filter by Month:</label>
                          <select class="form-control" id="month" name="month">
                            <option value="">All</option>
                            {% for month_number, month_name in months %}
                              <option value="{{ month_number }}" {% if selected_month == month_number %}selected{% endif %}>{{ month_name }}</option>
                            {% endfor %}
                          </select>
                        </div>

                    </div>
                    <div class="col-6">
                        <button class='btn btn-primary w-50 mt-4' type="submit">Filter</button>
                    </div>
                    </form>

                  </div>
                </div>

                {% if item_amount %}

                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th class="text-center" scope="col"></th>
                      <th class="text-center" scope="col">Products</th>
                      <th class="text-center" scope="col">Sold</th>
                      <th class="text-center" scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item, amount in item_amount  %}
                    <tr>
                      <td class="text-center">{{ forloop.counter }}</td>
                      <td class="text-center">{{ item }}</td>
                      <td class="text-center">{{ amount }}</td>
                      <td class="text-center">${{ item.price }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                {% if num_pages > 1  %}
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                  {% for page in page_range %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                      <img src="/media/bars/{{shop.id}}/barchart_{{shop.id}}_page{{page}}.png" />
                    </div>
                  {% endfor %}
                  </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
                {% else %}
                <div>
                  <img src="/media/bars/{{shop.id}}/barchart_{{shop.id}}_page1.png" />
                </div>
                {% endif %}


                <div class='text-end pe-4'>
                  <p>Total revenue:
                    <b>{{total_revenue}}$</b>
                  </p>
                </div>
                {% else %}
                <div class="row justify-content-center mt-3 mb-3">
                  <h1>You do not have any sales for this month.</h1>
                  
              </div>


                {% endif %}
              </div>
        </div>


        </div>
    </div>
</div>
</div>
<style>
  .carousel-control-prev,
  .carousel-control-next {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
</style>

{% endblock content %}
