{% extends "includes/../includes/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class='container mt-4'>
    <div class="container-fluid">
        <div class="row">
        {% include 'includes/../includes/shop_sidebar.html' %}
        <div class="col-md-9 text-center">

            <!-- Page Content -->
            <h1>Welcome to your profile settings</h1>
            <hr>
            <div class="card my-3 pb-3">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class='container mb-3'>
                                {% comment %} <img id='blah2' src="{{object.cover_photo.url}}" alt="" style=" max-height: 146px"> {% endcomment %}
                                <div id='blah2' class="page-section restaurant-detail-image-section text-light rounded-pill" style=" max-height: 146px; background:url({% if object.cover_photo %}{{ object.cover_photo.url }}{% endif %}) no-repeat scroll 0 0 / cover;">
                                <div class="row" style="
                                height: 148px;">
                                    <div class="col-6 mt-3">
                                        <h1 style='margin-left: 77px;'><i class="fa-solid fa-shop"></i>{{object.shop_name}}</h1>
                                    </div>
                                </div>

                                </div>
                        </div>
                    <form method="post" enctype='multipart/form-data'>
                        {% csrf_token %}


                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for='shop_name'>Shop's Name</label>
                                {{ form.shop_name|attr:"class:form-control"}}
                            </div>
                            <div class="col-md-12 mt-3 mb-6 pb-4">
                                <div class="form-outline">
                                    <label class="form-label" for='avatar'>Shop's Avatar</label>
                                    <input id='id_avatar' type="file" name="avatar" accept="image/*" class="form-control form-control-lg" ">
                                </div>
                            </div>
                            <div class="col-md-12 mt-3 mb-6 pb-4">
                                <div class="form-outline">
                                    <label class="form-label" for='cover_photo'>Shop's Cover</label>
                                    <input id='id_cover_photo' type="file" name="cover_photo" accept="image/*" class="form-control form-control-lg" ">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-outline">
                                <img id='blah' src="{% if request.user.shop.avatar %}{{ shop.avatar.url }}{% else %}{% static 'anonymous.png' %}{% endif %}" alt="nema" class='img-thumbnail'>
                            </div>

                        </div>



                    </div>


                    <button id='resButton' type="reset" class="btn btn-dark btn-lg btn-block">Reset</button>
                    <button id='createButton' type='submit' class="btn btn-primary btn-lg btn-block">Update</button>
                    </form>
                </div>

            </div>
        </div>

        </div>
    </div>
</div>
<script>
    // Get the relevant elements
    const id_image = document.querySelector('#id_avatar');
    const id_image2 = document.querySelector('#id_cover_photo');
    const resButton = document.querySelector('#resButton');
    const previewImage = document.querySelector('#blah');
    const previewImage2 = document.querySelector('#blah2');
    let originalImage = previewImage.src;
    let originalImage2 = previewImage2.src;

    // Update the preview image when a file is selected
    id_image.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        previewImage.src = URL.createObjectURL(file);
      }
    });
    id_image2.addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            previewImage2.src = URL.createObjectURL(file);
            previewImage2.style.backgroundImage = `url(${URL.createObjectURL(file)})`;
        }
      });

    // Reset the form when the reset button is clicked
    resButton.addEventListener('click', function(event) {
      // Reset the image preview to the original image
      previewImage.src = originalImage;
      previewImage2.src = originalImage;
      // Clear the file input field
      id_image.value = '';
    });
  </script>

{% endblock content %}
