{% extends "includes/../includes/base.html" %}
{% load static %}

{% block content %}
<div class='container mt-4'>
    <div class="container-fluid">
        <div class="row">
        {% include 'includes/../includes/customer_sidebar.html' %}
        <div class="col-md-9 text-center">
            <!-- Page Content -->
            <h1>Welcome to your Dashboard</h1>
            <hr>
            <div class="container">
              <p>This is the main content of your dashboard.</p>
            </div>


        </div>
        </div>
        

        </div>
    </div>
</div>
{% endblock content %}
