#django
Django==4.1.7
django-extensions==3.2.1
django-countries==7.5.1
django-widget-tweaks==1.4.12
django-cities-light
django-ajax-selects
django-phonenumber-field
django-phonenumbers

#python
python-decouple
pymemcache==4.0.0
python-memcached==1.59

#flake8
flake8==6.0.0

#postgresql
psycopg2-binary

#celery
celery==5.2.7
django-celery-beat==2.5.0

#payment
stripe==5.4.0

#other
matplotlib
babel
pre-commit
black
isort
gunicorn==21.2.0
gevent