{% extends "includes/base.html" %}
{% load static %}

{% block content %}

<section class="gradient-custom">
    <div class="container pb-1">
      <div class="row justify-content-center mt-3 h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Registration Form</h3>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="row">
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">

                        {{form.email}}

                      <label class="form-label" for="email">Email</label>
                    </div>

                  </div>
                  <div class="col-md-6 mb-4 pb-2">

                    <div class="form-outline">

                        {{form.username}}
                      <label class="form-label" for="username">Username</label>
                    </div>

                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">

                          {{form.first_name}}

                        <label class="form-label" for="first_name">First Name</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">

                          {{form.last_name}}

                        <label class="form-label" for="last_name">Last Name</label>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">

                          {{form.password1}}

                        <label class="form-label" for="firstName">Password</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">

                          {{form.password2}}

                        <label class="form-label" for="lastName">Confirm Password</label>
                      </div>

                    </div>
                  </div>

                <div class="row">

                    <div class="col-md-12 mb-12 text-center">

                      <h6 class="mb-2 pb-1">Role: </h6>

                      <div class="form-check form-check-inline">
                        <input onclick="checkRole(this.value)" class="form-check-input" type="radio" name="inlineRadioOptions" id="useruser"
                      value="thisuser" required/>
                    <label class="form-check-label" for="useruser">User</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input onclick="checkRole(this.value)" class="form-check-input" type="radio" name="inlineRadioOptions" id="shopshop"
                      value="thisshop" required/>
                    <label class="form-check-label" for="shopshop">Shop</label>
                      </div>

                    </div>
                  </div>

                <!-- Condititonal elements start-->
                <div class="row" id='thisshop' style="display:none;">
                  <div class="text-center mt-4 mb-2 fw-bolder">Shop's information</div>
                  <div class="row">
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">

                        {{s_form.shop_name}}

                      <label class="form-label" for="shopName">Shop's name</label>
                    </div>
                  </div>
                    <div class="col-md-6 mb-2 pb-2">
                      <div class="form-outline">

                        {{s_form.docs}}

                      <label class="form-label" for="shopName">Documenation</label>
                    </div>

                    </div>
                  </div>
                <!-- Condititonal elements end-->
                </div>
              </div>
              
                <div class="row text-center mb-4">
                    <div class="mt-2 pt-2">
                        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                    </div>
                </div>



              </form>
              {% comment %} {% for field in form%}
                  {% if field.errors %}
                      {% for error in field.errors %}
                          <li style='color: red;'>{{error}}</li>
                      {% endfor %}
                  {% endif%}
              {% endfor %} {% endcomment %}
              {% if messages %}
              <div class="span12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message|safe }}
                    </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock content %}
