{% autoescape off %}
Dear {{ user.username }},

Please click on the link to confirm your User registration,
http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}

Regarding your request.user.shop:
Our team will review information about your online request.user.shop and as soon as we have a decision you will be notified by email.

If you did not receive any information after 5 workings days it means that your shop was not approved. For further information you will need to contact our customer service team.

We greatly appreciate your patience.
{% endautoescape %}
