{% extends "includes/base.html" %}
{% load static %}

{% block content %}



<div class="container text-center">

<div class="container my-5">
    <div class="row">
        {% for item in items  %}
            {% if item.is_approved and item.is_available %}
            <div class="col-md-3">
                <div class="card mb-2" style="width: 18rem;">
                    {% with last_image=item.itemimage.latest %}
                        <img class='ml-2 mt-4 card-img-top ' id='blah' style='height: 125px; width: 254px; object-fit: cover;' src="{{ last_image.image.url }}" alt="{{ item.title }}">
                    {% endwith %}
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.title}}</p>
                        <p class="card-text">${{item.price}}</p>
                        <div class="d-flex justify-content-center" style="gap: 10px;">
                            <a href="{% url 'marketplace:item_details' item.slug %}" class="btn btn-primary">View</a>
                            <form id='wish-form-{{item.id}}' action="{% url 'marketplace:add_wish' item.id %}"  method="POST">
                                {% csrf_token %}
                                <button id='wish-btn-{{item.id}}' type="submit" class="btn btn-warning">


                                        {% if item in request.user.wish_list.filter %}
                                        <i id='fa-{{item.id}}' class="fa-solid fa-heart"></i>
                                        {% else %}
                                        <i id='fa-{{item.id}}' class="fa-regular fa-heart"></i>
                                        {% endif %}



                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<div class="pagination justify-content-center mt-4">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% endblock content %}

