{% extends "includes/base.html" %}
{% load static %}

{% block content %}

<div class='container my-4'>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 text-center">
                <div class="card mt-2">
                    <div class="row text-justify">
                        <div class="col-5">
                            {% with last_image=object.itemimage.latest %}
                                <img class='ml-2 mt-4 img-thumbnail'id='blah' height='125' src="{{ last_image.image.url }}" alt="{{ item.title }}">
                            {% endwith %}
                        </div>
                        <div class="col-7">
                            <div class="row mb-2 mt-4 text-center">
                                <div class="col-7">
                                    <h2 style='margin-bottom: -6px;'>{{object.name}}</h2>
                                    <small>{{object.title}}</small>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-5">
                                    Category:
                                    <hr>
                                </div>
                                <div class="col-7">
                                    {{object.category.name}}
                                    <hr>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-5">
                                    Shop:
                                    <hr>
                                </div>
                                <div class="col-7">
                                    <a href="{% url 'marketplace:shop' object.shop.slug %}">{{object.shop.shop_name}}</a>

                                    <hr>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-5">
                                    Price:
                                    <hr>
                                </div>
                                <div class="col-7">
                                    ${{object.price}}
                                    <hr>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <button class='btn btn-danger'>Buy now</button>


                                    <button class='btn btn-warning'>Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row my-2">
                            <div class="col-5">
                                Description:
                                <hr>
                            </div>
                            <div class="col-12">
                                {{object.description}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>


{% endblock content %}