{% extends "includes/base.html" %}
{% load static %}

{% block content %}

<div class='container my-2'>

        <div class="page-section restaurant-detail-image-section text-light rounded-pill" style=" max-height: 146px; background:url({% if shop.cover_photo %}{{ shop.cover_photo.url }}{% endif %}) no-repeat scroll 0 0 / cover;">
        <div class="row" style="
        height: 148px;">
            <div class="col-6 mt-3">
                <h1 style='margin-left: 77px;'><i class="fa-solid fa-shop"></i>{{shop.shop_name}}</h1>
            </div>
            <div class="col-6 text-center mt-3">
                <img class='img-thumbnail' style='margin-left: 8rem !important; margin-top: 0.5rem;; height: 100px' src="{{shop.avatar.url}}" alt="asdfasdf ">

            </div>
        </div>

        </div>
</div>
<div class="container my-2">
    <div class="text-center rounded-pill">
        <div class="row no-gap " style="height: 43px;">
            <div class="col-3" style="margin-right: -13px;">
                <p class="btn btn-dark form-control">
                    {{current_category}}
                </p>
            </div>
            {% comment %} <div class="col-3" style="margin-right: -13px;">
                <p class="btn btn-dark form-control">
                    Filter by:
                </p>
            </div> {% endcomment %}
            <div class="col-3">
                <div class="d-inline-block mx-3 drowdown ml-" style="width:100%;position: relative;">

                    <button class="btn btn-dark form-control drowdown-toggle" type='button' id='dropdownMenuButton' data-bs-toggle='dropdown' aria-expanded='false'>
                        <i class="fa-regular fa-square-caret-down"></i> Categories <span class="badge bg-secondary">Filter by</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby='dropdownMenuButton'  style="position: absolute; width: 100%;">
                        <li><a class='dropdown-item' href="{% url 'marketplace:shop' shop.slug %}">All</a></li>
                        {% for category in categories %}
                        <li><a class="dropdown-item" href="{% url 'marketplace:shop_by_category' shop.slug category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for item in items  %}
            {% if item.is_approved and item.is_available %}
            <div class="col-md-3">
                <div class="card mb-2" style="width: 18rem;">
                    {% with last_image=item.itemimage.latest %}
                        <img class='ml-2 mt-4 card-img-top ' id='blah' style='height: 125px; width: 254px; object-fit: cover;' src="{{ last_image.image.url }}" alt="{{ item.title }}">
                    {% endwith %}
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.title}}</p>
                        <p class="card-text">${{item.price}}</p>
                        <div class="d-flex justify-content-center" style="gap: 10px;">
                            <a href="{% url 'marketplace:item_details' item.slug %}" class="btn btn-primary">View</a>
                            <form action="{% url 'marketplace:add_wish' item.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">

                                        {% if item in request.user.wish_list.filter %}
                                        <i class="fa-solid fa-heart"></i>
                                        {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                        {% endif %}

                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<div class="pagination justify-content-center mt-4">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% endblock content %}