@keyframes show-toast {
    0% {bottom: -100%}
    20% {bottom: 100px}
    60% {bottom: 100px}
    100% {bottom: -100%}
}
.navav {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.msr {
  margin-top: 13px;
}
.mt8 {
  margin-top: 8px;
}

.mt13 {
  margin-top: 13px;
}
.nng {
  border-radius: 50px;
  position: relative;
  bottom: 10px;
  left: -5px;
}
.tp10 {
  top: -10px;
}
.fs20 {
  font-size: 20px;
}

.bgg {
  border-radius: 50px;
  position: relative;
  bottom: 10px;
  left: 1px;
}

.ml-2 {
  margin-left: 1rem !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.show-notification{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 10s;
    z-index: 99;
}
