<div class="col-md-3">
    <!-- Sidebar -->
    <div class="list-group">
    <a href="{% url 'shop:shop_admin' %}" class="list-group-item list-group-item-action {% if '/shop-admin/' == request.path %}active{% endif %}">Dashboard</a>
    <a href="{% url 'marketplace:shop' request.user.shop.slug %}" class="list-group-item list-group-item-action">Preview</a>
    <a href="{% url 'shop:shop_settings' %}" class="list-group-item list-group-item-action {% if 'shop-settings' in request.path %}active{% endif %}">Shop's settings</a>
    <a href="{% url 'shop:list_category' %}" class="list-group-item list-group-item-action {% if 'list-category' in request.path or 'detail-category' in request.path or 'update-category' in request.path%}active{%endif%}">Categories</a>
    <a href="{% url 'shop:list_item' %}" class="list-group-item list-group-item-action {% if 'list-item' in request.path or 'update-item' in request.path or 'detail-item' in request.path%}active{%endif%}">Products</a>
    <a href="#" class="list-group-item list-group-item-action">Orders</a>
    <a href="#" class="list-group-item list-group-item-action">Customers</a>
    </div>
</div>