{% extends "includes/../../includes/base.html" %}
{% load static %}

{% block content %}

<div class='container mt-4'>
    <div class="container-fluid">
        <div class="row">
        {% include 'includes/../../includes/shop_sidebar.html' %}
            <div class="col-md-9 text-center">
                <!-- Page Content -->
                {% if  categories %}
                <h1>{{amount}}</h1>
                <h1>View all categories here!</h1>
                <div class="row justify-content-center mb-3">
                    <div class="col-5 text-center">
                        <a class="btn btn-info" href="{% url 'shop:create_category' %}">Create a new category</a>
                    </div>
                </div>
                <div class="card">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col" colspan="3">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <th scope="col">{{ forloop.counter }}</th>
                                <th scope="col">{{ category.name }}</th>
                                <th scope="col"><a href="{% url 'shop:detail_category' category.slug %}" class="btn btn-outline-success">View</a></th>
                                <th scope="col"><a href="{% url 'shop:update_category' category.slug %}" class="btn btn-outline-warning">Edit</a></th>
                                <th>
                                    <button type="button" class="btn btn-outline-danger model-button" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ category.id }}">Delete</button>
                                    <!-- Modal -->
                                    <div class="modal fade" tabindex="-1" id="deleteModal-{{ category.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this Category?
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <form action="{% url 'shop:delete_category' category.slug %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="container-fluid">
                                                      <button type="submit" class="btn btn-danger btn-lg">Delete</button>
                                                    </div>
                                                  </form>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      {% if is_paginated %}
                        <div class="pagination justify-content-center mt-4">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                        </div>
                        {% endif %}
                </div>
                {% else %}
                    <div class="row justify-content-center mt-3 mb-3">
                        <h1>You do not have any categories for now.</h1>
                        <div class="col-5 text-center mt-3">
                            <a class="btn btn-info btn-lg" href="{% url 'shop:create_category' %}">Create a new category</a>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock content %}
