{% extends "includes/../../includes/base.html" %}
{% load static %}

{% block content %}

<div class='container mt-4'>
    <div class="container-fluid">
        <div class="row">
        {% include 'includes/../../includes/shop_sidebar.html' %}
            <div class="col-md-9 text-center">
                <!-- Page Content -->
                <h1>Update a new category here!</h1>
                <hr>
                <div class="container mb-3">
                    <div class="row justify-content-center mt-3">
                        <div class="col-8 justify-content-center">
                            <div class="card" style="border-radius: 1rem;">
                                <div class="card-body">
                                    <h3>Create it here</h3>
                                    <form method="post">
                                        {% csrf_token %}
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for='name'>Category's name</label>
                                        {{form.name}}

                                    </div>
                                    <button type="reset" class="btn btn-dark btn-lg btn-block">Reset</button>
                                    <button id='createButton' type='submit' class="btn btn-primary btn-lg btn-block">Create</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>

        </div>
    </div>
</div>


{% endblock content %}
