{% extends "includes/base.html" %}
{% load static %}

{% block content %}

<div class='container mt-4'>
    <div class="container-fluid">
        <div class="row">
        {% include 'includes/shop_sidebar.html' %}
            <div class="col-md-9 text-center">
                <!-- Page Content -->
                <div class="container mb-3">
                    <div class="row justify-content-center mt-3">
                        <div class="col-12 justify-content-center">
                            <div class="card" style="border-radius: 1rem;">
                                <div class="card-body">
                                    <h2>Create a new Item here!</h2>
                                    <hr>
                                    <form method="post" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label" for='name'>Name</label>
                                                {{form.name}}

                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label" for='name'>Title</label>
                                                {{form.title}}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label" for='name'>Price</label>
                                                {{form.price}}

                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        <label class="form-label" for='name'>Category</label>
                                                        {{form.category}}

                                                    </div>
                                                    <div class="form-outline mt-3">
                                                        <label class="form-label" for='name'>Photo</label>
                                                        {{image_form.image}}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4 pb-2">
                                            <div class="form-outline">
                                                <label class="form-label" for='name'>Description</label>
                                                {{form.description}}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for='name'>Available</label>
                                        {{form.is_available}}

                                    </div>
                                    <button type="reset" class="btn btn-dark btn-lg btn-block">Reset</button>
                                    <button id='createButton' type='submit' class="btn btn-primary btn-lg btn-block">Create</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock content %}
