{% extends "includes/base.html" %}
{% load mermaid %}

{% load static %}
{% block content %}
<div class='container mt-4'>
    <div class="container-fluid">
        <div class="row">
        {% include 'includes/customer_sidebar.html' %}
            <div class="col-md-9 text-center card">
              <div class="text-center p-5" id="empty-cart" style="display: none;">
                <h3>Cart is dempty</h3>

              </div>

                <div id='tab' class="container my-5">
                    <h1 class="mb-4">Your Cлart</h1>
                    {% mermaid "graph LR; A-->B;" %}


                    {% if cart_items %}
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Shop</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for cart_item in cart_items %}
                            <tr id='tr-{{cart_item.item.id}}'>
                              <td><a href="{% url 'marketplace:item_details' cart_item.item.slug %}">{{ cart_item.item.name }}</a></td>
                              <td><a href="{% url 'marketplace:shop' cart_item.item.shop.slug %}">{{ cart_item.item.shop }}</a></td>
                              <td  class="d-flex gap-4 justify-content-center">

                                  <form id='subtract-cart-{{cart_item.item.pk}}' method="POST" action="{% url 'cart:subtract-from-cart' cart_item.item.pk %}">
                                    {% csrf_token %}
                                    <button id='subtract-cart-btn-{{cart_item.item.pk}}' type="submit" class="btn btn-danger btn-block"><i class="fas fa-minus"></i></button>
                                  </form>

                                  <div id='qty-{{cart_item.item.id}}'>
                                    {{ cart_item.quantity }}
                                  </div>

                                  <form id='add-cart-{{cart_item.item.pk}}' method="POST" action="{% url 'cart:add-to-cart' cart_item.item.pk %}">
                                    {% csrf_token %}
                                    <button id='add-cart-btn-{{cart_item.item.pk}}' type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus"></i></button>
                                  </form>



                              </td>
                              <td>
                                <div id='price-{{cart_item.item.id}}'>
                                  {{ cart_item.item.price }}
                                </div>
                              </td>
                              <td>
                                <form id='remove-cart-{{cart_item.item.pk}}' method="POST" action="{% url 'cart:remove-from-cart' cart_item.item.pk %}">
                                  {% csrf_token %}
                                  <button id='remove-cart-btn-{{cart_item.item.pk}}' type="submit" class="btn btn-dark btn-block"><i class="fa fa-trash-alt"></i></button>
                                </form>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <hr>
                      <h4>Total:$<span id='ttott'>{{total}}</span></h2>
                        <a type='button' href="{% url 'payment:cart' %}" class='btn btn-success'>Buy now!</a>
                    {% else %}
                    <h3>Cart is empty</h3>
                    {% endif %}
                  </div>
            </div>
        </div>

    </div>

{% endblock content %}
